<ng-container *ngIf="projects && projects.length > 0">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Estado</th>
    <th scope="col">Tipo</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of projects">
    <th scope="row">{{ project.id }}</th>
    <th scope="row">{{ project.name }}</th>
    <th scope="row">{{ project.status }}</th>
    <th scope="row">{{ project.type }}</th>
    <th scope="row">
      <a href="javascript:;" (click)="edit(project.id)">Editar</a>
      -
      <a href="javascript:;" (click)="delete(project.id)">Borrar</a>
    </th>
  </tr>
  </tbody>
</ng-container>
